
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inp-form {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .inp-form label {
    font-size: 20px;
} */

.inp-form input {
    width: 50%;
    padding: 10px;
    background-color: var(--LightBlue);
    border: none;
    border-radius: 10px;
    /* font-size: 18px; */
    font-family: 'Krub';
    border: 2px solid var(--White);
}

.inp-form :focus {
    outline: none;
    border: 2px solid var(--DarkBlue);
}

#dis {
    display: flex;
}

#dis p {
    margin-right: 10px;
}

#dis a {
    text-decoration: none;
    color: var(--DarkBlue);
}

