:root {
    --White: hsl(0, 0%, 100%);
    --LightBlue: #DBECF1;
    --LightGrey: #D9D9D9;
    --DarkRed: #B83636;
    --DarkBlue: #3699B8;
    --Green: #8EB836;
    --Black: hsl(0,0,0);
}

* {
    box-sizing: border-box;
    margin: 0%;
}

html {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.icon {
    width: 50px;
    height: 50px;
}

header {
    height: 10vh;
    background-color: var(--DarkBlue);
    padding: 10px 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo .icon {
    margin-right: 10px;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    margin: 0px 20px;
    font-size: 1.2rem;
    color: var(--Black);
    text-decoration: none;
}

#user-info {
    display: flex;
    align-items: center;
}

#user-name {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}


/******************************************************************/


main {
    height: 80vh;
}

.boton {
    margin: 40px;
    width: 40%;
    padding: 15px;
    background-color: var(--DarkBlue);
    border: none;
    border-radius: 20px;
    font-size: 18px;
    border: 2px solid var(--White);
    font-size: 20px;
    font-family: 'Krub';
}


/******************************************************************/


footer {
    height: 10vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--DarkBlue);
    padding: 10px 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

footer .icon {
    margin: 0 10px;
}